<!-- Love Trail -->
<div class="love_trail">
    <h2 class="card-title">Love-Trail</h2>
    <h3 class="card-subtitle mt-4 mb-4">Unser Love-Trail – Ein Spaziergang durch Luzern</h3>

    <div class="card-text">
        <p>Nach dem Apéro und der anschliessenden Zeremonie in der Peterskapelle erwartet euch ein kleines Highlight:
            <strong>Ein gemeinsamer Spaziergang – unser persönlicher Love-Trail – durch die Stadt Luzern zur Fest-Location.</strong></p>
        <p>Ihr werdet gemeinsam ca. <strong>20–30 Minuten gemütlich durch die Altstadt und entlang schöner Wege</strong> unterwegs sein,
            begleitet von kleinen Überraschungen und einem Hauch Romantik. Natürlich werdet ihr dabei liebevoll geführt
            – niemand muss den Weg alleine suchen.</p>
        <p>Bitte denkt daran, euch entsprechend zu kleiden:
            <strong>Bequeme Schuhe und wetterfeste Kleidung</strong> sind eure besten Begleiter auf diesem Weg.</p>
        <p>Für alle, die nicht gut zu Fuß sind oder lieber den direkten Weg nehmen möchten, stehen natürlich die
            <strong>öffentlichen Verkehrsmittel</strong> zur Verfügung. Ihr werdet nicht verloren gehen – versprochen.</p>
        <p>Wir freuen uns auf diesen kleinen gemeinsamen Übergang – von der Zeremonie zur Feier, von feierlich zu
            festlich, von Worten zum Tanzen.</p>
    </div>
</div>