.navbar[b-enqxxnguf2] {
    /*--bs-navbar-bg: var(--primary-color);*/
    background-color: var(--primary-color) !important;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1030;
}

[b-enqxxnguf2] main {
    padding-top: 8rem;
}

.nav-item[b-enqxxnguf2]  a {
    padding: 8px 16px !important;
    margin: 1px 3px;
}

.nav-item .nav-link[b-enqxxnguf2] {
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin: 0 4px;

}

.nav-link .nav-text[b-enqxxnguf2] {
    font-family: var(--font-primary);
    font-weight: 500;
    letter-spacing: 1px;
}

.nav-link .bi[b-enqxxnguf2] {
    vertical-align: middle;
}

.navbar-brand[b-enqxxnguf2] {
    /*font-family: var(--font-primary), sans-serif;*/
    /*font-weight: 700;*/
    /*font-size: 1.5rem;*/
    /*letter-spacing: 1px;*/
    width: 6.5%;
    height: auto;
    margin-left: 2rem;
}

.nav-item[b-enqxxnguf2]  a {
    color: var(--text-color);
    border-radius: 4px;
    height: 2.5rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    padding: 8px 16px;
}

.navbar .nav-item[b-enqxxnguf2]  a.active {
    background-color: rgba(255, 255, 255, 0.37);
    color: var(--text-color);
    padding: 8px 16px;
    margin: 1px 3px;

}

.navbar .nav-item[b-enqxxnguf2]  a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-color);
    padding: 8px 16px;
    margin: 1px 3px;
}

.nav-link span[b-enqxxnguf2] {
    vertical-align: middle;
}

.nav-link[b-enqxxnguf2], .navbar-brand[b-enqxxnguf2] {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .navbar-brand[b-enqxxnguf2] {
        /*border-right: 2px solid rgba(255, 255, 255, 0.5);*/
        margin-right: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 768px) {
    .nav-item:first-of-type[b-enqxxnguf2] {
        padding-top: 1rem;
    }

    .nav-item[b-enqxxnguf2] {
        padding-bottom: 0.5rem;
    }

    .nav-item:last-of-type[b-enqxxnguf2] {
        padding-bottom: 1rem;
    }
}