<div class="background">
    <img src="images/backgroundImages/Luzern_1_rmb.png"
         class="background-graphic"
         alt=""/>
    <img src="images/backgroundImages/Zweig_gruen.png"
         id="leftBranch"
         class="background-graphic-branch"
         alt=""/>
    <img src="images/backgroundImages/Zweig_gruen.png"
         id="rightBranch"
         class="background-graphic-branch"
         alt=""/>
</div>

@code {

    

}