.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-4 {
    display: flex;
    margin-bottom: 1rem;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.item-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-card button {
    margin-top: auto;
}

.modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.modal-dialog {
    margin: 0;
    max-width: 500px;
    width: 90%;
}

.modal-content {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}s