.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-4 {
    display: flex;
    margin-bottom: 1rem;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.item-card {
    height: 100%;
    display: flex;
    z-index: 1;
    flex-direction: column;
    justify-content: space-between;
}

.item-card button {
    margin-top: auto;
}

.modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.modal-dialog {
    margin: 0;
    max-width: 500px;
    width: 90%;
}

.modal-content {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sold-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.sold-svg {
    transform: rotate(-30deg);
    width: 900px;
    height: 600px;
    z-index: 10;
}

/*@keyframes fadeIn {*/
/*    from {*/
/*        opacity: 0;*/
/*        transform: scale(0.8);*/
/*    }*/
/*    to {*/
/*        opacity: 1;*/
/*        transform: scale(1);*/
/*    }*/
/*}*/
