@inject IBlazorCurrentDeviceService CurrentDevice

<div class="card">
    <div class="card-body">
        <h1 class="card-title">Unsere Geschichte</h1>
        <h3 class="card-subtitle mt-6 mb-3">vom Insta-Live zur Lebensreise</h3>

        <div class="card-text">
            <p>Manchmal schreibt das Leben die besten Drehbücher. Und manchmal beginnt alles mit einem Instagram-Live.</p>
            <p>Jetzt – nach vier Jahren, in denen wir so viel Tiefe, Zerbrechlichkeit, Nähe und Hoffnung erlebt haben –
                ist es soweit: <strong>Wir heiraten.</strong></p>
            <p>Und wir freuen uns riesig, diesen Tag mit euch zu feiern.
                Mit denen, die uns durch die letzten Jahre getragen haben – durch Gebete, Spaziergänge per Videoanruf,
                liebevolle Nachrichten, Spontaneinkäufe, Putzaktionen, offene Ohren und offene Herzen.
                Danke, dass ihr da wart – und da seid.</p>
            <p>Jetzt ist Zeit für ein Fest. Für Liebe. Für Leben. Für Dankbarkeit.
                Mit euch. Und mit Gott – der uns bis hierher geführt hat.</p>
            <p>Für neugierige gibt es hier mehr Einblick in unsere Beziehungszeit:</p>
        </div>
    </div>
</div>

@code {

    private bool IsMobile { get; set; }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IsMobile = await CurrentDevice.Mobile();
            StateHasChanged();
        }
    }

}