<div class="card">
    <div class="card-body">
        <h2 class="card-title mb-2">Die Peterskapelle</h2>
        
        <div class="card-text mt-4">
            <p>Die Zeremonie und der vorangehende Apéro finden in der wunderschönen <strong>Peterskapelle Luzern</strong> statt.
                Diese Kapelle hat eine lange Geschichte: Sie wurde im 14. Jahrhundert erstmals erwähnt und ist heute, als Citypastoral, ein lebendiger Ort der Vielfalt und Begegnung. 
                Uns fasziniert besonders, wie hier unterschiedlichste Menschen zusammenkommen und gemeinsam diesen wandelbaren Kirchenraum mit Leben und Ideen füllen. 
                Wie neue Formen von Kirche und kirchlicher Gemeinschaft entstehen und mutig ausprobiert werden. </p>
            <p>Für uns ist die Peterskapelle viel mehr als nur ein Ort, mehr als nur eine schöne Kulisse – wir sind hier immer wieder bei verschiedenen Anlässen 
                (Poetry-Slams, Kreuzwege, Blue-Fridays (Jazzabende), Mittagsimpulse, Kunstprojekte wie z.B. der weltberühmte KI-Jesus), fühlen uns unglaublich wohl und inspiriert. 
                Romina bringt auch ab und an Geschichten beim Zoom-Gottesdienst „Brot und Liebe“ ein und ist somit auch pastoral eng mit dem Ort verbunden. Besonders spannend: 
                Die Peterskapelle ist sogar Teil von Rominas Promotionsprojekt, was dem Ganzen für uns eine ganz besondere Bedeutung verleiht. </p>
            <p>Und: Beim letzten Luzerner Stadtfest hatte Romina hier sogar ihre Feuertaufe als DJane – bei einer Silent Disco sorgte sie auf dem Kanal „christliche Popmusik“ für Tanzstimmung. 
                Auch das war ein Moment, der uns mit diesem besonderen Ort verbindet – lautlos, aber mit viel Herz.</p>
            <p>Mehr zur Peterskapelle findet ihr hier: 
                <a href="https://www.kathluzern.ch/meine-kirche/pfarreien-standorte/peterskapelle" target="_blank"><u>kathluzern.ch</u></a></p>
            
        </div>
    </div>
</div>