@page "/über"
@inject AccessService AccessService

@*
    Inhalt:
    ✅ Über uns
    ✅ Über die Kapelle 
    ✅ Über die Factory (invited)
*@

<div class="about-wrapper">
    <div class="background">
        <img src="images/Luzern_1_rmb.png"
             class="background-graphic"
             alt=""/>
        <img src="images/Zweig_gruen.png"
             id="leftBranch"
             class="background-graphic-branch"
             alt=""/>
        <img src="images/Zweig_gruen.png"
             id="rightBranch"
             class="background-graphic-branch"
             alt=""/>
    </div>

    <!-- About us section -->
    <div class="card about-container" id="aboutUsSection">
        <div class="card-body about-card">
            <AboutUs/>
        </div>
    </div>

    <!-- About Grid section -->
    <div class="card about-container mt-4" id="aboutUsGridSection">
        <div class="card-body about-card">
            <AboutUsGrid @bind-IsMeetingPhaseVisible="meetingPhaseVisible"
                         @bind-IsRelationshipPhaseVisible="relationshipPhaseVisible"
                         @bind-IsProposalPhaseVisible="proposalPhaseVisible"/>

        </div>
    </div>

    <!-- About the chapel section -->
    <div class="card about-container mt-5" id="aboutTheChapelSection">
        <div class="card-body about-card">
            <AboutTheChapel/>
        </div>
    </div>

    <!-- About the factory section -->
    @if (AccessService.CurrentLevel >= AccessLevel.GuestInvited)
    {
    <div class="card about-container mt-5" id="aboutTheFactorySection">
        <div class="card-body about-card">
            <AboutTheFactory/>
        </div>
    </div>
    }
</div>

@code {
    private bool meetingPhaseVisible;
    private bool relationshipPhaseVisible;
    private bool proposalPhaseVisible;

}