@page "/"
@inject AccessService AccessService
@inject SettingsService SettingsService
@inject IBlazorCurrentDeviceService CurrentDevice

@*
    Inhalte:
    ✅ Wilkommen
    ✅ Anmeldung (all / invited)
    ✅ Addressen (all / invited)
    ✅ Tagesablauf (all / invited)
*@

<div class="page-wrapper">
    <Background/>

    @if (IsMobile)
    {
        <div class="card page-container">
            <div class="page-card-frosted">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="d-grid gap-2">
                            <a class="btn btn-primary" href="/geschenke">
                                Geschenke
                            </a>
                            <a type="button" class="btn btn-primary"
                               href="/bilder">
                                Foto-Gallerie
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- Welcome section -->
    <div class="card page-container" style="@(IsMobile ? "margin-top: 0rem;" : "")">
        <div class="card-body page-card-frosted">
            <img src="images/Welcome/Welcome.png"
                 class="welcome-img img-fluid mb-4"
                 alt=""/>
            <h1 class="card-title">Willkommen auf unserer Hochzeitswebseite</h1>
            <p class="mt-4">
                Wir freuen uns riesig, diesen besonderen Tag mit euch zu feiern und gemeinsam ein neues Kapitel in
                unserem Leben aufzuschlagen.
                Vielleicht wird das eine oder andere ein wenig anders sein – weil es zu uns passt, weil wir es genau
                so
                mögen.
                Wir hoffen, ihr feiert das genauso wie wir.
                Auf dieser Seite findet ihr alle wichtigen Informationen rund um unseren großen Tag –
                vom Ablauf über Parkmöglichkeiten, Wunschliste bis zu Mitmachmöglichkeiten.</p>
            <p><strong>Dresscode: Dress to Impress</strong><br/>
                Wir wünschen uns einen stilvollen, eleganten Rahmen – gerne mit allem, was euch strahlen lässt.
                Zeigt euch mit Stil, Charme und dem gewissen Etwas. Fühlt euch wohl in eurem Look
                – aber gönnt euch (und uns) ein bisschen Glamour!
            </p>
            @if (AccessService.CurrentLevel >= AccessLevel.GuestInvited)
            {
                <p><strong>Infos für Familien</strong><br/>

                    Kinder sind beim Nachmittagsprogramm herzlich willkommen. Für das Fest am Abend bitten wir
                    jedoch um
                    Verständnis, dass aufgrund der räumlichen Gegebenheiten nur Erwachsene auf der Gästeliste stehen
                    können
                    (mit Ausnahme unserer beiden Hochzeitskinder).
                </p>
            }
            else
            {
                <p><strong>Infos für Familien</strong><br/>
                    Kinder sind beim Nachmittagsprogramm herzlich willkommen.
                </p>
            }
            <p>Liebe Grüsse
                <strong>Romina und Simon</strong>
            </p>
        </div>
    </div>

    <div class="card page-container mt-2">
        <div class="@(IsMobile ? "" : "card-body") page-card-frosted">
            <RSVP/>
        </div>
    </div>
</div>

@code {
    private AppSettings settings => SettingsService.CurrentSettings;
    private bool IsMobile { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            IsMobile = await CurrentDevice.Mobile();
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await SettingsService.LoadSettings();
        AccessService.OnChange += StateHasChanged;
        SettingsService.OnSettingsChanged += StateHasChanged;
    }

    public void Dispose()
    {
        AccessService.OnChange -= StateHasChanged;
        SettingsService.OnSettingsChanged -= StateHasChanged;
    }
}