/* /Layout/NavMenu.razor.rz.scp.css */
.navbar[b-5zesvhuv6q] {
    /*--bs-navbar-bg: var(--primary-color);*/
    background-color: var(--primary-color) !important;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1030;
}

[b-5zesvhuv6q] main {
    padding-top: 8rem;
}

.nav-item[b-5zesvhuv6q]  a {
    padding: 8px 16px !important;
    margin: 1px 3px;
}

.nav-item .nav-link[b-5zesvhuv6q] {
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin: 0 4px;

}

.nav-link .nav-text[b-5zesvhuv6q] {
    font-family: var(--font-primary);
    font-weight: 500;
    letter-spacing: 1px;
}

.nav-link .bi[b-5zesvhuv6q] {
    vertical-align: middle;
}

.navbar-brand[b-5zesvhuv6q] {
    /*font-family: var(--font-primary), sans-serif;*/
    /*font-weight: 700;*/
    /*font-size: 1.5rem;*/
    /*letter-spacing: 1px;*/
    width: auto;
    height: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.nav-item[b-5zesvhuv6q]  a {
    color: var(--text-color);
    border-radius: 4px;
    height: 2.5rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    padding: 8px 16px;
}

.navbar .nav-item[b-5zesvhuv6q]  a.active {
    background-color: rgba(255, 255, 255, 0.37);
    color: var(--text-color);
    padding: 8px 16px;
    margin: 1px 3px;

}

.navbar .nav-item[b-5zesvhuv6q]  a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-color);
    padding: 8px 16px;
    margin: 1px 3px;
}

.nav-link span[b-5zesvhuv6q] {
    vertical-align: middle;
}

.nav-link[b-5zesvhuv6q], .navbar-brand[b-5zesvhuv6q] {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .navbar-brand[b-5zesvhuv6q] {
        /*border-right: 2px solid rgba(255, 255, 255, 0.5);*/
        margin-right: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 768px) {
    .nav-item:first-of-type[b-5zesvhuv6q] {
        padding-top: 1rem;
    }

    .nav-item[b-5zesvhuv6q] {
        padding-bottom: 0.5rem;
    }

    .nav-item:last-of-type[b-5zesvhuv6q] {
        padding-bottom: 1rem;
    }
}
/* /Pages/AboutPages/About.razor.rz.scp.css */
.about-wrapper[b-6czxpuzwap] {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    border: none;
    padding: 2rem 1rem;
}

.about-container[b-6czxpuzwap] {
    position: relative;
    z-index: 10;
    margin: 5rem auto 0rem auto;
    max-width: 850px;
    background: transparent;
    border: none;
}

.card-body.about-card[b-6czxpuzwap] {
    z-index: 10;
    background-color: var(--text-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 2rem;
    position: relative;

    /*color: var(--primary-color);*/
}
/* /Pages/ContactsPages/Contacts.razor.rz.scp.css */
.contacts-wrapper[b-08p2vba5u4] {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    border: none;
    padding: 2rem 1rem;
}

.contacts-container[b-08p2vba5u4] {
    position: relative;
    z-index: 10;
    margin: 5rem auto 0rem auto;
    max-width: 850px;
    background: transparent;
    border: none;
}

.card-body.contacts-card[b-08p2vba5u4] {
    z-index: 10;
    background-color: var(--text-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 2rem;
    position: relative;

    /*color: var(--primary-color);*/
}
/* /Pages/WelcomePages/Welcome.razor.rz.scp.css */
.welcome-wrapper[b-r444askdkg] {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    border: none;
    padding: 2rem 1rem;
}

.welcome-container[b-r444askdkg] {
    position: relative;
    z-index: 10;
    margin: 5rem auto 0rem auto;
    max-width: 850px;
    background: transparent;
    border: none;
}

.card-body.welcome-card[b-r444askdkg] {
    z-index: 10;
    background-color: var(--text-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 2rem;
    position: relative;

    /*color: var(--primary-color);*/
}
