@inject AccessService AccessService
@inject SettingsService SettingsService

@* 
    Aufbau:
    ✅ Home
    ✅ Über
    - Wunschliste
    - Fotos 
    - Kontakte
*@

<nav class="navbar navbar-expand-md navbar-dark mb-4">
    <div class="container-fluid">
        @* <a class="navbar-brand" href="">@title</a> *@
        <img class="navbar-brand object-fit-contain " src = "images/logo_2.png" />
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        @* <i class="bi bi-house-heart-fill"></i> *@
                        <span class="bi bi-house-heart-fill" aria-hidden="true"></span>
                        <span class="nav-text ms-1 ps-2">Home</span>
                    </NavLink>
                </li>
                
                <li class="nav-item">
                    <NavLink class="nav-link" href="information">
                        <span class="bi bi-info-circle-fill" aria-hidden="true"></span>
                        <span class="nav-text ms-1 ps-2">Infos</span>
                    </NavLink>
                </li>
                
                @if (AccessService.CanAccessPage(settings.AboutPageVisible))
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="ueber">
                            <span class="bi bi-balloon-heart-fill" aria-hidden="true"></span>
                            <span class="nav-text ms-1 ps-2">Über</span>
                        </NavLink>
                    </li>
                }

                @if (AccessService.CanAccessPhotos(settings.PhotosPageVisible))
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="bilder" >
                            <span class="bi bi-camera-fill" aria-hidden="true"></span>
                            <span class="nav-text ms-1 ps-2">Fotos</span>
                        </NavLink>
                    </li>
                }
                
                @if (AccessService.CanAccessPage(settings.ContactPageVisible))
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="geschenke" >
                            <span class="bi bi-gift-fill" aria-hidden="true"></span>
                            <span class="nav-text ms-2 ps-2">Geschenke</span>
                        </NavLink>
                    </li>
                }

                @if (AccessService.CanAccessPage(settings.ContactPageVisible))
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="kontakte" >
                            <span class="bi bi-chat-heart-fill" aria-hidden="true"></span>
                            <span class="nav-text ms-2 ps-2">Kontakte</span>
                        </NavLink>
                    </li>
                }

                @if (AccessService.CurrentLevel == AccessLevel.Admin)
                {
                    <li class="nav-item">
                        <NavLink class="nav-link" href="enteredRSVPs">
                            <span class="bi bi-person-check-fill" aria-hidden="true"></span>
                            <span class="nav-text ms-2 ps-2">Anmeldungen</span>
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="settings" >
                            <span class="bi bi-gear-fill" aria-hidden="true"></span>
                            <span class="nav-text ms-2 ps-2">Einstellungen</span>
                        </NavLink>
                    </li>
                }
                
                @* <li class="nav-item"> *@
                @*     <NavLink class="nav-link" href="addresses" > *@
                @*         <span class="bi bi-gear-fill" aria-hidden="true"></span> *@
                @*         <span class="nav-text ms-2 ps-2">addressen</span> *@
                @*     </NavLink> *@
                @* </li> *@
            </ul>
            <button class="btn btn-outline-light" @onclick="@(() => AccessService.Logout())">
                @* <i class="bi bi-box-arrow-right">Abmelden</i> *@
                <span class="bi bi-box-arrow-right"></span>
                <span class="nav-text ps-2">Abmelden</span>
            </button>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;
    private string title = "";
    
    private AppSettings settings => SettingsService.CurrentSettings;
    [Parameter] public bool IsVisible { get; set; }

    private string NavMenuCssClass => "nav-container" + (IsVisible ? " show" : "");

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    
    private async Task UpdateTitle()
    {
        title = SettingsService.CurrentSettings.SiteTitle;
    }
    
    protected override async Task OnInitializedAsync()
    {
        await SettingsService.LoadSettings();
        await UpdateTitle();
        AccessService.OnChange += StateHasChanged;
        SettingsService.OnSettingsChanged += StateHasChanged;
    }

    public void Dispose()
    {
        AccessService.OnChange -= StateHasChanged;
        SettingsService.OnSettingsChanged -= StateHasChanged;
    }
}
