<!-- Love Trail -->
<div class="contributions">
    <h1 class="card-title mb-4">Beiträge & Bühnenmomente</h1>

    <div class="card-text">
        <p>Ihr habt eine Idee, einen Song, eine kreative Aktion oder wollt uns (und die Gäste) mit einem
            liebevoll-interaktiven Beitrag überraschen? Grossartig – wir freuen uns über all das, was den Tag noch
            bunter, persönlicher und einzigartiger macht.</p>
        <p>Meldet euch dafür gerne frühzeitig bei unseren beiden <a href="/kontakte" class="btn-link">Tätschmeistern Julia und Eli</a> – sie koordinieren alles,
            was glitzert, klingt, berührt oder uns laut lachen lässt.</p>
        <p>Nur eine kleine Bitte: Ihr dürft eure PowerPoint-Präsentation mit Kinderfotos gerne zu Hause geniessen – wir
            kennen die Bilder (fast alle) bereits und freuen uns mehr über neue Highlights als über
            Retro-Throwbacks.</p>
    </div>
</div>