@page "/kontakte"
@inject AccessService AccessService

<div class="contacts-wrapper">
    <div class="background">
        <img src="images/Luzern_1_rmb.png"
             class="background-graphic"
             alt=""/>
        <img src="images/Zweig_gruen.png"
             id="leftBranch"
             class="background-graphic-branch"
             alt=""/>
        <img src="images/Zweig_gruen.png"
             id="rightBranch"
             class="background-graphic-branch"
             alt=""/>
    </div>
    
    <!-- contacts section -->
    <div class="card contacts-container">
        <div class="card-body contacts-card">
            <h2 class="card-title">Kontaktiere uns</h2>
        </div>
    </div>
</div>


@code {

    

}