@page "/kontakte"
@inject AccessService AccessService

<div class="contacts-wrapper">
    <div class="background">
        <img src="images/backgroundImages/Luzern_1_rmb.png"
             class="background-graphic"
             alt=""/>
        <img src="images/backgroundImages/Zweig_gruen.png"
             id="leftBranch"
             class="background-graphic-branch"
             alt=""/>
        <img src="images/backgroundImages/Zweig_gruen.png"
             id="rightBranch"
             class="background-graphic-branch"
             alt=""/>
    </div>

    <!-- contacts section -->
    <div class="card contacts-container">
        <div class="card-body contacts-card">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Unsere Tätschmeister:innen</h1>
                    <div class="card-text">
                        <p>Wenn ihr euch fragt, an wen ihr euch vor und am Hochzeitstag mit Ideen, Fragen, Anregungen
                            oder
                            organisatorischen Anliegen wenden könnt – wir haben da zwei absolute Vollprofis am
                            Start:</p>
                        <ul>
                            <li class="mb-2"><strong>Eli</strong> – ein langjähriger Freund von Simon, begabter Moderator, Meister der
                                guten Laune und
                                zuverlässig
                                wie
                                ein Schweizer Uhrwerk. Ob spontan, strukturiert oder spaßbereit – Eli ist für (fast) jeden
                                Unfug
                                zu
                                haben, hat den Überblick und das Herz am rechten Fleck. Und das Wichtigste: Er bleibt auch
                                dann
                                cool,
                                wenn das Mikro pfeift oder die Getränke ausgehen.</li>
                            <li><strong>Julia</strong> – eine liebe Freundin von Romina, mit der alles vor Jahren auf einer
                                Jugendreise
                                begann.
                                Seither
                                hat sie es sich zur Aufgabe gemacht, Romina mit unnötigen Katzenwitzen und Katzen-Reels zu
                                versorgen
                                –
                                konsequent und mit Hingabe. Hinter dieser flauschigen Fassade steckt eine vielseitig begabte
                                Frau
                                mit
                                grossem Organisationstalent, Blick fürs Detail und Sinn für Struktur, Stil und
                                Situationskomik.</li>
                        </ul>
                        <p>Beide begleiten unseren Tag mit offenen Augen, wachem Herzen und helfenden Händen – und
                            stehen
                            euch
                            gerne zur Seite, wenn ihr euch einbringen möchtet, eine Überraschung plant oder einfach eine
                            Frage
                            habt.</p>
                        <p>Danke, Eli & Julia, dass ihr unseren Tag mit uns gestaltet – wir könnten uns niemand Besseres
                            vorstellen.</p>

                    </div>
                    
                    <hr class="my-4"/>
                    
                    <h4 class="card-title">Kontaktdaten</h4>
                    <div class="row">
                        <div class="col">
                            <h5>Eli</h5>
                            <p><strong>Phone:</strong> 079 314 58 43</p>
                            <p><strong>Email:</strong> muster@something.ch</p>
                        </div>
                        <div class="col">
                            <h5>Julia</h5>
                            <p><strong>Phone:</strong> 079 314 58 43</p>
                            <p><strong>Email:</strong> muster@something.ch</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {


}